.body{
    font-size: 30;
    background-color: #ffffff;
    color: black;
    }
.h1{
    font-size: 60;
    background-color: #397ce0;
    color: white;
    text-align:center;

    }
.p{

    background-color: #000000;
    color: white
    }

.form {
    border-radius: 500px;
    background-color: #f2f2f294;
    padding: 20px;
    text-align:center;

    }
#container {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    color: rgb(255, 255, 255);
    }
